annotated-types==0.7.0
anyio
certifi==2025.1.31
click==8.1.8
clickhouse-connect==0.8.17
colorama==0.4.6
fastapi==0.115.12
h11==0.14.0
idna==3.10
lz4
prophet==1.1.6
pydantic
pydantic-settings
pydantic_core
python-dotenv
pytz
sniffio
starlette
urllib3
uvicorn
zstandard
pandas
pyarrow
fastparquet
folium==0.19.5
Jinja2==3.1.3
